<h1>
  {{title}}
</h1>
<img src="{{imageURL}}" height="400" width="400"/>
<products></products>
<button (click)="onClickMe($event)" class="btn btn-primary" [class.disabled]="!isValid">Submit</button>
<rating></rating>